<div class="mat-elevation-z8">

  <div class="row" [formGroup]="filter">
    <h2>Filtro</h2>
    <mat-form-field class="col-8">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>

  </div>
  <table mat-table class="full-width-table"  aria-label="Elements">


    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef >Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome |titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef >Valor</th>
      <td mat-cell *matCellDef="let row">{{row.valor| currency:'BRL':'symbol':'1.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="dthCriacao">
      <th mat-header-cell *matHeaderCellDef >Data criação</th>
      <td mat-cell *matCellDef="let row">{{ formatDate(row.dthCriacao) }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="justify-content-between">
        <button mat-mini-fab color="warn" aria-label="Excluir produto" (click)="deleteProduto(row.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button class="ml-4" mat-mini-fab color="primary" aria-label="Editar produto" (click)="editarProduto(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="ml-4" mat-mini-fab color="accent" aria-label="Ver produto" (click)="verProduto(row.id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="totalElements"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
                 (page)="refresh($event)"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
